.contact-page {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bgGrey);
    margin: 0 auto;
    padding: 6rem 8rem;
}

.contact-wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.contact-left .contact-badge {
    width: fit-content;
    color: var(--white);
    padding: 0.5rem 1rem;
    background-color: var(--black);
    /* border: 1px solid var(--black); */
    backdrop-filter: blur(10px);
    border-radius: 100vw;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.contact-left h1 {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
}

.contact-left p {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--textDarkGrey);
}

.contact-right form label {
    display: flex;
    flex-direction: column;
}

.contact-right form label input {
    background-color: var(--white);
}

.contact-right form label textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--white);
    resize: none;
}

.contact-right form label textarea:focus {
    outline: 2px solid var(--orange);
}

.contact-right form input[type="submit"] {
    cursor: pointer;
    padding: 0.7rem 2rem;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 0.5rem;
    border: none;
    transition: all 0.2s;
}

.contact-right form input[type="submit"]:active {
    transform: scale(0.95);
}

@media screen and (max-width: 1366px) {
    .contact-page {
        padding: 6rem 3.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .contact-left h1 {
        font-size: 3rem;
    }

    .contact-left p {
        font-size: 1.2rem;
    }

    .contact-right form input[type="submit"] {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .contact-page {
        padding: 4rem 1rem;
        gap: 1rem;
    }

    .contact-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-left h1 {
        font-size: 2rem;
    }

    .contact-left p {
        font-size: 1rem;
    }

    .contact-right form input[type="submit"] {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .contact-page {
        padding: 3.5rem 0.5rem;
    }

    .contact-left .contact-badge {
        padding: 0.4rem 0.8rem;
    }
}
