.vehicle {
    height: 450px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--white);
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.vehicle img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.vehicle-name,
.vehicle-actions {
    width: 100%;
    padding: 1rem;
}

.vehicle-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}

.vehicle-name h1 {
    font-size: 2rem;
    color: var(--white);
    font-family: "Montserrat", sans-serif;
}

.vehicle-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.vehicle-actions .price {
    font-weight: 600;
    color: var(--white);
    font-size: 1.5rem;
}

.vehicle-actions .price span {
    color: var(--textGrey);
    font-size: 1rem;
    text-transform: uppercase;
}

.vehicle-actions button {
    cursor: pointer;
    width: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 0.5rem;
    border: none;
    transition: all 0.2s;
}

.vehicle-actions button:active {
    transform: scale(0.95);
}

.vehicle-actions button:disabled {
    background-color: red;
    cursor: not-allowed;
}

@media screen and (max-width: 1366px) {
    .vehicle {
        height: 400px;
    }
}

@media screen and (max-width: 1024px) {
    .vehicle {
        height: 300px;
    }

    .vehicle-name h1 {
        font-size: 1.5rem;
    }

    .vehicle-actions .price {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .vehicle {
        height: 350px;
        border-radius: 0.7rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .vehicle-name,
    .vehicle-actions {
        padding: 0.7rem;
    }

    .vehicle-name h1 {
        font-size: 1.2rem;
    }

    .vehicle-actions {
        flex-direction: column;
        align-items: unset;
        gap: 0.5rem;
    }

    .vehicle-actions .price {
        font-size: 1.2rem;
    }

    .vehicle-actions button {
        font-size: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .vehicle {
        height: 250px;
    }
}
